# Supabase Authentication Keys
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Vercel Postgres Database Connection
POSTGRES_URL="postgres://default:pass@ep-hostname.region.postgres.vercel-storage.com:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:pass@ep-hostname.region.postgres.vercel-storage.com:5432/verceldb?sslmode=require&pgbouncer=true"
POSTGRES_URL_NO_SSL="postgres://default:pass@ep-hostname.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-hostname.region.postgres.vercel-storage.com"
POSTGRES_PASSWORD="pass"
POSTGRES_DATABASE="verceldb"
